/* Estilos para o menu lateral */
ion-menu {
    --background: #ffffff;
    --width: 250px;
  }
  
  ion-header {
    color: black;
    background-color: #007bff; 
  }
  
  .projeto-details {
    margin-top: 10px;
  }
  
 