ion-searchbar {
    --background: #222;
    --color: #fff;
    --placeholder-color: #aaa;
    --icon-color: #fff;
    --clear-icon-color: #fff;
    --show-clear-button: always;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  ion-menu {
    --background: #ffffff;
    --width: 250px;
  }
  ion-item {
    --background: #333;
    border-radius: 12px;
    margin-bottom: 15px;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    max-height: 60px;
    overflow: hidden;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  ion-item.expanded {
    max-height: 300px; /* Ajuste conforme necessário */
    padding-bottom: 20px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  }
  
  ion-label h2 {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  ion-label p {
    color: #ccc;
    font-size: 0.9rem;
    margin: 2px 0;
  }
  
  .client-details {
    
    margin-top: 10px;
    background-color: #444;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  ion-header {
    background-color: #000000; 
  }