<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Clientes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-searchbar [(ngModel)]="filtroNome" (ionInput)="filtrarClientes()" placeholder="Pesquisar por nome"></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item 
            *ngFor="let cliente of clientesFiltrados"
            [class.expanded]="cliente.expanded"
            (click)="toggleCliente(cliente)"
            lines="none">
            <ion-label>
              <h2>{{cliente.nome}}</h2>
              <div *ngIf="cliente.expanded" class="client-details">
                <p>CPF: {{cliente.cpf}}</p>
                <p>Email: {{cliente.email}}</p>
                <p>Telefone: {{cliente.telefone}}</p>
                <p>Data de Cadastro: {{cliente.dataCadastro}}</p>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
